@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

.infoContainer{
    padding: 5%  12%;
    font-family: 'Kanit', sans-serif;
    display: flex;
    align-items: center;
    border: 1px solid #fff;
    p{
        color: #9e9e9e;
        letter-spacing: 1.1px;
        text-align: center;
        font-size: 18px;
    }
    section{
        z-index: 11;
        h2{
            font-size: 28px;
            letter-spacing: 4px;
            color: #fff;
            font-family: 'Kanit', sans-serif;
        }
        &:nth-child(1){
            text-align: center;
        }
        &:nth-child(3){
            text-align: center;
        }
    }
    section:nth-child(2){
        display: flex;
        flex-direction: column;
        // border: 1px solid #fff;
        padding: 10px;
        margin: 0 30px;
        h1{
            font-size: 260px;
            position: absolute;
            right: 0%;
            // top: 44%;
            opacity: 0.1;
            font-weight: bold;
            background-color: transparent;
            user-select: none;
        }
        div{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        img{
            height: 160px;
            width: 160px;
            border-radius: 20px;
            margin: 10px;
            transition: all, .4s;
            z-index: 11;
            &:hover{
                transform: scale3d(1.2,1.2,1.2);
            }
        }
    }
}