@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

main{
    background-color: #111;
    // border: 1px solid #ffff;
    padding: 0% 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Kanit', sans-serif;
    .info{
        h1{
            font-size: 54px;
            letter-spacing: 4px;
            line-height: 74px;
            color: #fff;
            font-family: 'Kanit', sans-serif;
        }
        p{
            margin-top: 20px;
            color: #9e9e9e;
            letter-spacing: 1.1px;
        }
        button{
            font-size: 20px;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 12px 30px;
            border-radius: 50px ;
            color: #fff;
            background-color: #498BF7;
            letter-spacing: 1.1px;
            margin-top: 26px;
            display: flex;
            align-items: center;
            transition: all .4s ease-in-out;
            &:hover{
                .rightArrow{
                    transition: all .4s ease-in-out;
                    margin-left: 22px;
                }
            }
            .rightArrow{
                background: transparent;
                margin-left: 14px;
            }
        }
        .sponsors{
            position: absolute;
            transform: translateY(60px);
            // border: 1px solid #fff;
            display: flex;
            
            div{
                display: flex;
                flex-direction: column;
                margin-right: 40px;
                p{
                    display: flex;
                    align-items: center;
                    margin-right: 20px;
                    color: #9e9e9e;
                    font-size: 16px;
                    letter-spacing: 1.1px;
                    text-transform: uppercase;
                }
                .sponsorIcon{
                    margin-right: 6px;
                }
            }
        }
    }
    .showcase{
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            height: 500px;
            // border: 1px solid #fff;
        }
        
    }
}



//Making responsive 
@media (max-width: 1382px){
    main{
        // background-color: red;
        .info{
            h1{
                font-size: 44px;
                line-height: 54px;
            }
            p{
                font-size: 16px;
            }
            button{
                font-size: 18px;
            }
            .sponsors{
                p{
                    font-size: 16px;
                }      
            }
        }
        
        .showcase{
            img{
                height: 400px;
            }
        }
        
    }
}

@media (max-width: 1082px){
    main{
        // background-color: green;
        .info{
            h1{
                font-size: 40px;
            }
            p{
                font-size: 16px;
            }
            button{
                font-size: 18px;
            }
            .sponsors{
                p{
                    font-size: 16px;
                }      
            }
        }
       
        .showcase{
            img{
                height: 350px;
            }
        }
    }
}

@media (max-width: 982px){
    main{
        // background-color: orange;
        .info{
            h1{
                font-size: 30px;
                line-height: 43px;
            }
            p{
                font-size: 12px;
            }
            button{
                font-size: 14px;
            }

            .sponsors{
                div{
                    p{
                        font-size: 12px;
                    }  
                }    
            }
        }
       
        .showcase{
            img{
                height: 330px;
            }
        }
    }
}

@media (max-width: 882px){
    main{
        // background-color: purple;
        flex-direction: column-reverse;
        .info{
            // border: 1px solid #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            h1{
                font-size: 33px;
                line-height: 34px;
                text-align: center;
            }
            p{
                text-align: center;
            }
            .sponsors{
                position: relative;
                transform: translateY(00px);
                // border: 1px solid #fff;
                padding-bottom: 40px;
                div{
                    display: flex;
                    flex-direction: column;
                    
                    margin-right: 0px;
                    // p{
                    //     display: flex;
                    //     align-items: center;
                    //     margin-right: 20px;
                    //     color: #9e9e9e;
                    //     font-size: 16px;
                    //     letter-spacing: 1.1px;
                    //     text-transform: uppercase;
                    // }
                    .sponsorIcon{
                        margin-right: 0px;
                    }
                }
            }
        }
        .showcase{
            img{
                height: 440px;
            }
        }
    }
}