@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');
header{
    // position: fixed;
    background-color: #151515;
    width: 100%;
    // border: 1px solid #f9f9f9;
    height: 14vh;
    padding: 0 12%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
    .logo{
        font-size: 26px;
        font-family: 'Josefin Sans', sans-serif;
        text-transform: uppercase;
        letter-spacing: 1.1px;
        background: transparent;
        .logoInside{
            color: #d3d3d3;
            background: transparent;
            img{
                background-color: transparent;
                height: 54px;
            }
        }
    }
    ul{
        display: flex;
        // border: 1px solid #f9f9f9;
        background: transparent;

        li{
            background: transparent;
            margin: 0 14px;
            cursor: pointer;
            font-family: 'Kanit', sans-serif;
            font-size: 18px;
            text-transform: capitalize;
            letter-spacing: 1.4px;
            color: #c2c2c2;
            a{
                color: #c2c2c2;
                background-color: transparent;
                &:hover{
                    color: #fff;
                }
            }
            &:nth-child(3){
                margin-right: 60px;
                display: flex;
                align-items: center;
                background: transparent;
            }
            &:nth-child(5){
                margin-right: 0;
                display: flex;
                align-items: center;
            }
            transition: all .1s;
            &:hover{
                color: #fff;
            }
        }
        select{
            color: #fff;
            border: none;
            option{
                color: #fff;
            }
        }
    }
    .dropdown {
        background: transparent;
        position: relative;
        display: inline-block;
        z-index: 111;
        .moreBtn{
            display: flex;
            align-items: center;
            background: transparent;
        }
      }
      
      .dropdown-content {
        display: none;
        position: absolute; 
        background-color: #181818;
        min-width: 160px;
        z-index: 1;
        border-radius: 8px;
        transition: height 0.3s ease, opacity 0.3s ease;
        
        li{
            padding: 8px 0px;
            background: transparent;
            transition: all .1s;
            &:hover{
                color: #fff;
            }
        }
      }
      
      .dropdown:hover .dropdown-content {
        display: block;
      }
}

@media (max-width: 500px){
    header{
        padding: 0 6%;
        .logo{
            font-size: 20px;
        }
        ul{
            display: flex;
            li{
                margin: 0 10px;
                font-size: 16px;
                
            }
        }
          
          .dropdown-content {
            
            li{
                font-size: 14px ;
                padding: 6px 0px;
            }
          }
    }
}

