@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');
.registerContainer{
    padding: 0% 12%;
    nav{
        width: 100%;
        // border: 1px solid #fff;
        height: 14vh;
        display: flex;
        align-items: center;
        div{
            font-size: 26px;
            font-family: 'Josefin Sans', sans-serif;
            text-transform: uppercase;
            letter-spacing: 1.1px;
            color: #d3d3d3;
        }
    }
    .mainRegister{
        font-family: 'Kanit', sans-serif;
        display: flex;
        padding: 5% 0;
        section:nth-child(1){
            width: 50%;
            padding-right: 50px;
            // border: 1px solid red;
            h1{
                font-size: 34px;
                letter-spacing: 4px;
                color: #fff;
            }
            p{
                margin-top: 20px;
                color: #9e9e9e;
                letter-spacing: 1.1px;
            }
          
        }
        section:nth-child(2){
            width: 50%;
            // border: 1px solid red;

            padding-left: 40px;
            form{
                // margin-top: 20px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                label{
                    margin-top: 24px;
                    color: #9e9e9e;
                }
                input{
                    outline: none;
                    border: none;
                    border-bottom: 1px solid #9e9e9e;
                    width: 100%;
                    height: 34px;
                    color: #fff;
                    font-size: 22px;
                }
            }
        }
    }
}