@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

.signalsContainer{
    border: 1px solid #fff;
    padding: 3%  6%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'Kanit', sans-serif;
    div{
        width: 400px;
        margin: 20px;
        position: relative;
        border: 1px solid #fff;
        display: flex;
        flex-direction: column;
        padding: 0px 20px 20px 20px;
        background: rgb(34, 34, 34);
        color: #fff;
        header{
            display: flex;
            background: transparent;
            // border: 1px solid #fff;
            // margin-top: 0;
            padding: 0 0;
            section{
                // border: 1px solid #fff;
                padding: 0;
            }
            section{
                button{
                    padding: 8px 24px;
                    cursor: pointer;
                    outline: none;
                    color: #fff;
                    border: none;
                    border-radius: 8px;
                    background-color: rgb(49, 50, 50);
                    &:nth-child(1){
                        margin-right: 10px;
                    }
                }
            }
        }
        main{
            display: flex;
            flex-direction: row;
            background: transparent;
            padding: 0 0;
            letter-spacing: 1px ;
            section{
                p{
                    margin-top: 6px;
                }
                span{
                    margin-top: 4px;
                }
            }
        }
    }
}