@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

.signalsContainer{
    border: 1px solid #fff;
    padding:   6%;
    display: flex;
    align-items: center;
    font-family: 'Kanit', sans-serif;
}