@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

$backgroundColor: rgb(23, 23, 23);

.signalsContainer{
    border: 1px solid #fff;
    padding: 3%  6%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'Kanit', sans-serif;
    div{
        border-radius: 8px;
        width: 400px;
        margin: 20px;
        position: relative;
        // border: 1px solid #fff;
        display: flex;
        flex-direction: column;
        padding: 0px 20px 20px 20px;
        background-color:$backgroundColor ;
        color: #fff;
        header{
            display: flex;
            background: transparent;
            letter-spacing: 1px;
            padding: 0 0;
            h2{
                background-color:$backgroundColor ;
            }
            p{
                background-color:$backgroundColor ;
                color: rgb(255, 66, 66);
            }
            section{
                // border: 1px solid #fff;
                padding: 0;
                
            }
            section{
                background-color:$backgroundColor ;
                button{
                    padding: 8px 24px;
                    cursor: pointer;
                    outline: none;
                    color: #fff;
                    border: none;
                    border-radius: 8px;
                    letter-spacing: 1px;
                    background-color: rgb(49, 50, 50);
                    &:nth-child(1){
                        margin-right: 10px;
                    }
                }
            }
        }
        main{
            display: flex;
            flex-direction: row;
            background: transparent;
            padding: 0 0;
            letter-spacing: 1px ;
            section{
                background-color:$backgroundColor ;
                p{
                    margin-top: 6px;
                    background-color:$backgroundColor ;
                    color: rgb(150, 150, 150);
                }
                span{
                    margin-top: 4px;
                    background-color:$backgroundColor ;
                }
            }
        }
    }
}